<div class="how-to-get">
  <h2>How to get a Quote:</h2>
  <ul>
    <li>Add all items to your Quote</li>
    <li>Click "Get My Quote"</li>
    <li>Fill out Contact Information</li>
    <li>Click "Request Your Quote"</li>
    <li>Our friendly team will contact you ASAP!</li>
  </ul>
</div>
