<div class="bg-particles"></div>
<div class="container">

  <div class="page__content rte">
    
    {% section 'page-history' %}
    
    {% comment %}{{ page.content }}{% endcomment %}
  </div>
</div>